{% extends 'base.html' %}
{% block content %}
{% load static %}

<img src="pages_project/static/pages_project/Boopmas2019.png" alt="Boopmas 2019">
<div class="intro-section-container">
    <h1 class="section-header">Upgrade</h1>
    <p>i am a paragraph and i just want you to know that i can express many things about myself on this webpage so if
        you have a problem i will ask you to take it up with my sevretary thank you!</p>
</div>

<div class="about-section-header">
    <h1 class="about-section">Upgrade</h1>
    <p>i am a paragraph and i just want you to know that i can express many things about myself on this webpage so if
        you have a problem i will ask you to take it up with my sevretary thank you!</p>
</div>
{% endblock %}